In [3]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats

Diamonds = pd.read_csv("./diamonds_train.csv")
DiamondsTest = pd.read_csv("./diamonds_test.csv")

In [4]:
Diamonds.dtypes

id           int64
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [5]:
Diamonds.isna().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [6]:
Diamonds.head()

   id  carat      cut color clarity  depth  table     x     y     z  price
0   0   0.78  Premium     F     VS1   61.5   58.0  5.93  5.98  3.66   3446
1   1   0.31    Ideal     D     SI1   60.8   56.0  4.37  4.32  2.64    732
2   2   0.30    Ideal     F     SI1   62.3   54.0  4.30  4.34  2.69    475
3   3   1.04    Ideal     E    VVS2   62.0   58.0  6.54  6.46  4.03   9552
4   4   0.65    Ideal     J     SI1   61.4   55.0  5.58  5.62  3.44   1276

In [7]:
dum = pd.get_dummies(Diamonds["cut"])
diam = pd.concat([Diamonds, dum])
diam.isna()

,id,carat,cut,color,clarity,depth,table,x,y,z,price,Fair,Good,Ideal,Premium,Very Good
0,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40340,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False
40341,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False
40342,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False
40343,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False
40344,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False

In [8]:
from sklearn.model_selection import train_test_split

X = Diamonds[["carat", "cut", "color", "clarity", "depth", "table", "x","y", "z"]]
y = Diamonds[["price"]]

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)

In [ ]:
#from sklearn.model_selection import cross_val_score
#import numpy as np
#from sklearn.ensemble import RandomForestClassifier
#from sklearn.experimental import enable_hist_gradient_boosting
#from sklearn.ensemble import HistGradientBoostingClassifier
#from sklearn.ensemble import GradientBoostingClassifier
#from sklearn.neighbors import KNeighborsClassifier
#from sklearn.svm import LinearSVC
#from sklearn.calibration import CalibratedClassifierCV
#from sklearn.linear_model import LogisticRegression
#
#models = {
##    "Linear": LinearSVC(max_iter=300),
##    "neighbors": KNeighborsClassifier(),
##    "histboosting": HistGradientBoostingClassifier(),
#    "histboosting0.25": HistGradientBoostingClassifier(learning_rate=0.25),
##    "histRegressor": HistGradientBoostingRegressor(),
##    "histRegressor0.20": HistGradientBoostingRegressor(learning_rate=0.2)
##    "forest300,50": RandomForestClassifier(n_estimators=300, max_depth=10),
##    "Gradientboosting" : GradientBoostingClassifier(learning_rate=0.2)
#}
#for name, model in models.items():
#    scores = cross_val_score(model, X, y, cv=30)
#    print(f"{name} accuracy => {np.mean(scores)}")